@charset "UTF-8";

@media screen and (max-width: 1175px) {



    .container2 {
        flex-wrap: wrap-reverse;
    }
    
    .more-about-us {
        max-width: 100%;
    }

    .container2 .img {
        text-align: center;
    }

    .container2 img {
        width: 80%
    }

    .rows {
        flex-wrap: wrap-reverse;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .frases {
        width: 100%;
        padding: 0 1rem;
    }

    .rows-container {
        width: 90%;
    }

    .container4 {
        height: 90%;
        padding: 1.5rem 0;
        background-position: center center;
        background-attachment: fixed;
    }

    .paragrafo {
        width: 85vw;
    }

    footer {
        padding: 0 .1rem;
    }


    footer p {
        text-align: center;
    }
    
}

@media screen and (max-width: 1000px) {

    header {
        top: -1px;
        height: 60px;

    }
    header ul {
        display: none;
    }

    nav {
        justify-content: center;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 880px) {

    .image {
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.39);
    }

    .section1 {
        padding: 0 1rem;
    }
    .section1 h1 {
        padding-top: 2rem;
        font-size: 2rem;
        line-height: 4rem;
    }

    .section1 p {
        font-size: 2rem;
    }

    .section1 span {
        font-size: 2rem;
        color: #fff;
        

    }

    .section1 em {
        font-size: 2rem;


    }

    

    
}